@import './normalize.css';
@import './variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--global__Color);
  background: var(--global__Background);
}

footer {
  background: var(--footer__Background);
  color: var(--footer__Color);
}

header {
  background: var(--header__Background);
  color: var(--header__Color);

  a {
    color: var(--header__linkColor);

    &:hover {
      color: var(--header__linkHoverColor);
    }
  }
}

.link {
  color: var(--global__color__brandPrimary);
  text-decoration: underline;
}
