:root {
	--global__color__brandPrimary: #90ee90;
	--global__color__brandSecondary: #44803F;
	--global__color__brandTertiary: #FFEC5C;
	--global__color__linkColor: #B4CF66;
	--global__color__linkHoverColor: #44803F;
	--global__color__linkActiveColor: #B4CF66;
	--footer__Background: #f8f8f8;
	--footer__Color: #000000;
	--header__Background: #D6D58E;
	--header__Color: #042940;
	--header__linkColor: #042940;
	--header__linkHoverColor: #DBF227;
	--header__linkActiveColor: #DBF227;
	--global__layout__columnGutter: 20px;
	--global__layout__maxWidth: 1560;
	--global__Background: #fff;
	--global__Color: #333;
}
