:root {
	--global--color--brandPrimary: #90ee90;
	--global--color--brandSecondary: #44803F;
	--global--color--brandTertiary: #FFEC5C;
	--global--color--linkColor: #B4CF66;
	--global--color--linkHoverColor: #44803F;
	--global--color--linkActiveColor: #B4CF66;
	--global--layout--columnGutter: 20px;
	--global--layout--maxWidth: 1560;
}
