:root {
	--global--color--brandPrimary: #9FC131;
	--global--color--brandSecondary: #005C53;
	--global--color--brandTertiary: #D6D58E;
	--global--color--linkColor: #9FC131;
	--global--color--linkHoverColor: #DBF227;
	--global--color--linkActiveColor: #DBF227;
}
